/**
 * better-widget TimePicker 1.0.0 
 * License: MIT
 */

.bw-timepicker-wrap {
  display: inline-block;
  height: 30px;
  width: 200px;
}

.bw-timepicker {
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bw-timepicker * {
  box-sizing: border-box;
}

.bw-timepicker .input-wrap {
  float: left;
  width: calc(100% - 28px);
  height: 100%;
  padding: 0 4px;
  border: none;
}

.bw-timepicker .input-wrap .input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  ime-mode: disabled;
}
.bw-timepicker .input-wrap .input::-ms-clear{
  display: none;
}

.bw-timepicker .arrow-wrap {
  float: right;
  width: 28px;
  height: 100%;
  padding: 1px;
  font-size: 0px;
  text-align: center;
}

.bw-timepicker .arrow-wrap .arrow {
  display: table;
  width: 100%;
  height: 50%;
}

.bw-timepicker:not(.bw-timepicker-disabled) .arrow-wrap .arrow:hover {
  cursor: pointer;
  border: 1px solid #ccc;
}

.bw-timepicker .arrow-wrap .arrow i {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.bw-timepicker .arrow-wrap .arrow i::before {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.bw-timepicker .arrow-wrap .arrow.up i::before {
  border-bottom: 5px solid #000;
}

.bw-timepicker .arrow-wrap .arrow.down i::before {
  border-top: 5px solid #000;
}

.bw-timepicker-disabled,
.bw-timepicker-disabled .input {
  background-color: silver !important;
  cursor: not-allowed !important;
}